<!-- Forms -->
<div class="page">
    <div class="forms">

    {{#if displayAddForm}}

    <div class="form">
    <form action="/playlist" method="post" role ="form" >
        <legend class="formLegend" style="padding: 10px;"><u>Add new playlist</u></legend>
        <label for="name">Enter playlist name:</label><br>
        <input type="text" name="name" id="name">
        <br>
        <label for="description">Enter playlist description</label><br>
        <input type="text" name="description" id="description">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    </div>
    {{/if}}


    {{#if displayEditForm}}
    <div class="form">
        <form action="/playlist-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Edit playlist</u></legend>
            <label for="currentName">Enter current playlist name:</label><br>
            <input type="text" name="currentName" id="currentName">
            <br>
            <label for="newName">Enter new playlist name:</label><br>
            <input type="text" name="newName" id="newName">
            <br>
            <label for="newDescription">Enter new playlist release description:</label><br>
            <input type="text" name="newDescription" id="newDescription">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayDeleteForm}}
    <div class="form">
        <form action="/playlist-delete" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Delete playlist</u></legend>
            <label for="id">Enter playlist id to be deleted:</label><br>
            <input type="text" name="id" id="id">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayChoices}}
    <form action="/playlistForms" method="post" role ="form" enctype="application/x-www-form-urlencoded">
        <ul>
            <li><legend style="font-size: 40px;">What would you like to do?</legend>
            <li><button class="styled-button" name="choice" type="submit" class="btn btn-primary" value="add" >Add Playlist</button>    </li>
            <li><button class="styled-button" name="choice" type="submit" class="btn btn-primary" value="edit" >Edit Playlist</button>  </li>
            <li><button class="styled-button" name="choice" type="submit" class="btn btn-primary" value="delete" >Delete Playlist</button></li>
        </ul>
    </form>
    {{/if}}
    </div>



<div class="library">
    <div style="display: block;">


        <!-- Song Library -->
        <ul class="songList">
            <h1 style="text-align: center; margin: left -10px;">{{heading}}</h1>
            <!-- Search Bar -->
            <form >
                <input type="text" placeholder="Search" class="search-bar" name="searchQuery">
                <button class="styled-button">Search</button>
            </form>
        <form method="post" role="form" action="/addToPlaylist">
            <li class="song-list-item">
                <p class="song-list-item-text" style="text-decoration: underline;">Id</p>  
                <p class="song-list-item-text" style="text-decoration: underline;">Name</p>  
                <p class="song-list-item-text" style="text-decoration: underline;">Description</p>  
            </li>
            {{#each playlists}}
                <li class="song-list-item">
                    <p class="song-list-item-text" >{{id}}</p>
                    <p class="song-list-item-text" >{{name}}</p>
                    <p class="song-list-item-text" >{{description}}</p>
                    <button formaction="/addToPlaylist" formmethod="post"  class="play-button" type="submit" name="playlistId" value={{id}}>+</button>
                </li>
            {{/each}}
        </form>

        </ul>
        <div class="musicplayer">
            <h2>{{playSong.name}}</h2>
            <h3>{{playSong.artist}}</h3>
            <img class="song-image" src="images/song-image.jpg">
            <div class="slidecontainer">
                <input type="range" min="0" max="3" value="0" disabled="true">
            </div>
            <button class="styled-button" style="background-color: yellowgreen;">
                <img src="images/skip-to-start.png">
            </button>
            <button class="styled-button" style="background-color: yellowgreen;">
                <img src="images/play.png">
            </button>
            <button class="styled-button" style="background-color: yellowgreen;">
                <img src="images/skip-to-end.png">
            </button>
        </div>
    </div>



    </div>
</div>
