<h1>{{message}}</h1>
<!-- Songs Table -->
<div style="display: flex;">
    <div class="table">
        <table border="1px" width="100%">
            <caption>{{heading}}</caption>
            <input type="text" placeholder="Search">
            <thead>
                <th>Name</th>
                <th>Artist</th>
                <th>Times Played</th>
            </thead>
            {{#each songs}}
            <tr>
                <td>{{name}}</td>
                <td>{{artist}}</td>
                <td style="text-align: center">{{times_played}}</td>
                <form method="post" role="form" action="/play">
                    <td><button class="play-button" type="submit" name="playSongId" value={{id}}>▶</button></td>
                </form>
            </tr>
            {{/each}}
        </table>
    </div>
</div>