<!-- Forms -->
<div class="page">
    <div class="forms">

    {{#if displayAddForm}}

    <div class="form">
    <form action="/playlist" method="post" role ="form" >
        <legend class="formLegend" style="padding: 10px;"><u>Add new playlist</u></legend>
        <label for="title">Enter playlist title:</label><br>
        <input type="text" name="title" id="title">
        <br>
        <label for="year">Enter playlist release year:</label><br>
        <input type="text" name="year" id="year">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    {{/if}}


    {{#if displayEditForm}}
    </div>
    <div class="form">
        <form action="/playlist-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Edit playlist</u></legend>
            <label for="currentTitle">Enter current playlist title:</label><br>
            <input type="text" name="currentTitle" id="currentTitle">
            <br>
            <label for="newTitle">Enter new playlist title:</label><br>
            <input type="text" name="newTitle" id="newTitle">
            <br>
            <label for="newYear">Enter new playlist release year:</label><br>
            <input type="text" name="newYear" id="newYear">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayDeleteForm}}
    <div class="form">
        <form action="/playlist-delete" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Delete playlist</u></legend>
            <label for="title">Enter playlist title to be deleted:</label><br>
            <input type="text" name="title" id="title">
            <br>
            <label for="title">Enter playlist year to be deleted:</label><br>
            <input type="text" name="year" id="year">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayChoices}}
    <form action="/playlistForms" method="post" role ="form" enctype="application/x-www-form-urlencoded">
        <ul>
            <li><legend style="font-size: 40px;">What would you like to do?</legend>
            <li><button name="choice" type="submit" class="btn btn-primary" value="add" >Add Playlist</button>    </li>
            <li><button name="choice" type="submit" class="btn btn-primary" value="list" >List All Playlists</button>  </li>
            <li><button name="choice" type="submit" class="btn btn-primary" value="edit" >Edit Playlist</button>  </li>
            <li><button name="choice" type="submit" class="btn btn-primary" value="delete" >Delete Playlist</button></li>
        </ul>
    </form>
    {{/if}}
    </div>




<!-- Playlists Table -->
{{!-- <div style="display: flex;">
    <div class="table">
        <table border="1px" width="100%">
        <caption>{{heading}}</caption>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{#each playlists}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{year}}</td>
            </tr>
        {{/each}}
        </table>
    </div>
</div> --}}

<div class="library">
        <div style="display: block;">


            <!-- Song Library -->
            <ul class="songList">
                <h1 style="text-align: center; margin: left -10px;">Library</h1>
                <!-- Search Bar -->
                <form >
                    <input type="text" placeholder="Search" class="search-bar" name="searchQuery">
                    <button>Search</button>
                </form>
                <form method="post" role="form" action="/play">
                    <li class="song-list-item">
                        <p class="song-list-item-text" style="text-decoration: underline;">Id</p>  
                        <p class="song-list-item-text" style="text-decoration: underline;">Name</p>  
                        <p class="song-list-item-text" style="text-decoration: underline;">Artist</p>  
                    </li>
                    {{#each songs}}
                        <li class="song-list-item">
                            <p class="song-list-item-text" >{{id}}</p>
                            <p class="song-list-item-text" >{{name}}</p>
                            <p class="song-list-item-text" >{{artist}}</p>
                            <button class="play-button" type="submit" name="playSongId" value={{id}}>Play</button>
                        </li>
                    {{/each}}
                </form>

            </ul>
            <div class="musicplayer">
                <h2>{{playSong.name}}</h2>
                <h3>{{playSong.artist}}</h3>
                <img class="song-image" src="images/song-image.jpg">
                <div class="slidecontainer">
                    <input type="range" min="0" max="3" value="0" disabled="true">
                </div>
                <button style="background-color: yellowgreen;">
                    <img src="images/skip-to-start.png">
                </button>
                <button style="background-color: yellowgreen;">
                    <img src="images/play.png">
                </button>
                <button style="background-color: yellowgreen;">
                    <img src="images/skip-to-end.png">
                </button>
            </div>
        </div>



    </div>
</div>
