<!-- Forms -->
<div class="page">
    <div class="forms">

    {{#if displayAddForm}}

    <div class="form">
    <form action="/playlist" method="post" role ="form" class="playlist-form">
        <legend class="formLegend"><u style="text-decoration: none; margin-bottom: 5px;">Add new playlist</u></legend>
        <label for="name" style="margin-top:25%">Enter playlist name:</label><br>
        <input class="playlistInput" type="text" name="name" id="name">
        <br>
        <label class="playlistInput" for="description">Enter playlist description:</label><br>
        {{!-- <input type="text" name="description" id="description"> --}}
        <textarea style="margin-top: 15px" name="description" id="description" rows = "10" cols = "23"> 
        </textarea>
        <br>
        <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Submit</button>

    </form>
    </div>
    {{/if}}


    {{#if displayEditForm}}
    <div class="form">
        <form action="/playlist-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 25px;"><u style="text-decoration: none;">Edit playlist</u></legend>
            <label for="currentName">Enter current playlist name:</label><br>
            <input type="text" name="currentName" id="currentName">
            <br>
            <label for="newName">Enter new playlist name:</label><br>
            <input type="text" name="newName" id="newName">
            <br>
            <label for="newDescription">Enter new playlist release description:</label><br>
            <input type="text" name="newDescription" id="newDescription">
            <br>
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayDeleteForm}}
    <div class="form">
        <form action="/playlist-delete" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Delete playlist</u></legend>
            <label for="id">Confirm playlist id to be deleted:</label><br>
            <input type="text" name="id" id="id">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayEditSongForm}}
    <div class="form">
        <form action="/song-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Edit song</u></legend>
            <label for="currentName">Enter current song name:</label><br>
            <input type="text" name="currentName" id="currentName">
            <br>
            <label for="newName">Enter new song name:</label><br>
            <input type="text" name="newName" id="newName">
            <br>
            <label for="newArtist">Enter new song artist:</label><br>
            <input type="text" name="newArtist" id="newArtist">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    {{#if displayDeleteSongForm}}
    <div class="form">
        <form action="/song-delete" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Delete song</u></legend>
            <label for="name">Enter song id to be deleted:</label><br>
            <input type="text" name="id" id="id">
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
    {{/if}}

    </div>



<div class="library">
    <div style="display: block;">
        <!-- Song Library -->
        <ul class="songList">
            <h1 style="text-align: center; margin: left -10px;">{{heading}}</h1>
            <h3>{{description}}</h3>
            <!-- Search Bar -->
            <form >
                <input type="text" placeholder="Search" class="search-bar" name="searchQuery">
                <button class="styled-button" style="border-radius: 5px;">Search</button>
                <button formaction="/playlistForms" formmethod="post" name="choice" value="addForm" class="styled-button" style="border-radius: 5px;">﹢</button>

            </form>
        <form method="post" role="form" action="/showPlaylist">
            <li class="song-list-item">
                <p class="song-list-item-text" style="text-decoration: underline;">Id</p>  
                <p class="song-list-item-text" style="text-decoration: underline;">Name</p>  
                <p class="song-list-item-text" style="text-decoration: underline;">Description</p>  
            </li>
            {{#if addingToPlaylist}}
                {{#each playlists}}
                    <li class="song-list-item">
                        <p class="song-list-item-text" >{{id}}</p>
                        <p class="song-list-item-text" >{{name}}</p>
                        <p class="song-list-item-text" >{{description}}</p>
                        <button class="play-button" type="submit" name="playlistId" value={{id}}>+</button>
                    </li>
                {{/each}}
            {{else if showPlaylist}}
                {{#each songs}}
                    <li class="song-list-item">
                        <p class="song-list-item-text" >{{id}}</p>
                        <p class="song-list-item-text" >{{name}}</p>
                        <p class="song-list-item-text" >{{artist}}</p>
                        <button formaction="/songForms" formmethod="post" name="choice" value="editInPlaylist" class="play-button" type="submit" >Edit</button>
                        <button formaction="/songForms" formmethod="post" name="choice" value="deleteInPlaylist" class="play-button" type="submit">Remove</button>
                        <button class="play-button" type="submit" formaction="/play" formmethod="post" name="playlistSongId" value={{id}}>▶</button>
                    </li>
                {{/each}}
            {{else}}
                {{#each playlists}}
                    <li class="song-list-item">
                        <p class="song-list-item-text" >{{id}}</p>
                        <p class="song-list-item-text" >{{name}}</p>
                        <p class="song-list-item-text" >{{description}}</p>
                        <button class="play-button" type="submit" name="playlistId" value={{id}}>View</button>
                        <button formaction="/playlistForms" formmethod="post" name="choice" value="editForm" class="play-button" type="submit" name="playlistId" value={{id}}>•••</button>
                        <button formaction="/playlistForms" formmethod="post" name="choice" value="deleteForm" class="play-button" type="submit" name="playlistId" value={{id}}>x</button>
                    </li>
                {{/each}}
            {{/if}}
        </form>

        </ul>
            <div class="musicplayer">
                <h2 id="songNameHeader">{{playSong.name}}</h2>
                <h3>{{playSong.artist}}</h3>
                <div style="display: block; text-align: center;">
                    <img class="song-image" src={{#if playSong.iconSource}}{{playsong.iconSource}}{{else}}"images/song-image.jpg"{{/if}}>
                    <br>
                    <audio {{#if playSong}}autoplay{{/if}} controls controlsList="nodownload" src={{#if playSong}}"audio/{{playSong.name}}.mp3"{{/if}}>
                        <div style="border: 1px solid black ;">
                        Sorry, your browser does not support the <audio> tag used in this demo.
                        </div>
                    </audio>
                </div>

            </div>
    </div>



    </div>
</div>
