<!-- Songs Page -->
<div class="page">
    <!-- Forms -->
    <div class="forms">
        {{#if displayAddForm}}

        <div class="form">
            <form action="/song" method="post" role ="form"  encType="multipart/form-data" >
            <legend class="formLegend" style="padding: 20px;"><u style="text-decoration: none;">Add new song</u></legend>
            <label for="artist">Enter audio file:</label><br>
            <input type="file" name="audioFile" style="padding: 5px;">
            <br>
            <label for="name">Enter song name:</label><br>
            <input type="text" name="name" id="name">
            <br>
            <label for="artist">Enter song artist:</label><br>
            <input type="text" name="artist" id="artist">
            <br>
            <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Submit</button>

        </form>
        </div>
        {{/if}}


        {{#if displayEditForm}}
        <div class="form">
            <form action="/song-edit" class="song-edit"method="post" role ="form" >
                <legend class="formLegend" style="padding: 30px;"><u style="text-decoration: none;">Edit song</u></legend>
                <label for="currentName">Enter current song name:</label><br>
                <input type="text" name="currentName" id="currentName">
                <br>
                <label for="newName">Enter new song name:</label><br>
                <input type="text" name="newName" id="newName">
                <br>
                <label for="newArtist">Enter new song artist:</label><br>
                <input type="text" name="newArtist" id="newArtist">
                <br>
                <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Submit</button>

            </form>
        </div>
        {{/if}}

        {{#if displayDeleteForm}}
        <div class="form">
            <form action="/song-delete" method="post" role ="form" >
                <legend class="formLegend" style="padding: 20px;"><u style="text-decoration: none;">Delete song</u></legend>
                <label for="name">Confirm by entering the song id to be deleted:</label><br>
                <input type="text" name="id" id="id">
                <button type="submit" class="btn btn-primary" style="border-radius: 5px;">Submit</button>

            </form>
        </div>
        {{/if}}


        {{!-- Songlist for a playlist  --}}
        {{#if displayPlaylistChoices}}
        <form action="/songForms" method="post" role ="form" enctype="application/x-www-form-urlencoded" >
            <ul>
                <li><legend style="font-size: 40px;">What would you like to do?</legend></li>
                <li><button class="styled-button" name="choice" type="submit" class="crud-song" value="add" >Add Song to Playlist</button></li>
                <li><button class="styled-button" name="choice" type="submit" class="crud-song" value="edit" >Edit this Playlist</button>  </li>
                <li><button class="styled-button" name="choice" type="submit" class="crud-song" value="delete" >Delete this Playlist</button></li>
            
            </ul>
        </form>
        {{/if}}





</div>


    <div class="library">
        <div style="display: block;">


            <!-- Song Library -->
            <ul class="songList">
                <h1 style="text-align: center; margin: left -10px;">{{heading}}</h1>
                <!-- Search Bar -->
                <form method="get" action="/song">
                    <input type="text" placeholder="Search" class="search-bar" name="searchQuery">
                    <button class="styled-button" style="border-radius: 5px">Search</button>
                </form>
                <form method="post" role="form" action="/play">
                    {{#unless isEmpty}}
                    <li class="song-list-item">
                        <p class="song-list-item-text">ID</p>  
                        <p class="song-list-item-text">Name</p>  
                        <p class="song-list-item-text">Artist</p>  
                    </li>
                    {{/unless}}
                    {{#if displayPlaylistChoices}}
                        {{#each songs}}
                            <li class="song-list-item">
                                <p class="song-list-item-text" >{{id}}</p>
                                <p class="song-list-item-text" >{{name}}</p>
                                <p class="song-list-item-text" >{{artist}}</p>
                                <button class="play-button" type="submit" name="playSongId" value={{id}}>▶</button>
                                <button formaction="/removeSongFromPlaylist" formmethod="post" class="play-button" type="submit" name="songId" value={{id}}>X</button>
                            </li>
                        {{/each}}
                    {{else}}
                        {{#if isEmpty}}
                            <h3>Be the first to upload a song!</h3>
                        {{else}}
                        {{#each songs}}
                            <li class="song-list-item">
                                <p class="song-list-item-text" >{{id}}</p>
                                <p class="song-list-item-text" >{{name}}</p>
                                <p class="song-list-item-text" >{{artist}}</p>
                                
                                
                                <button class="play-button" type="submit" name="playSongId" value={{id}} style="font-size:smaller; padding: 0.9em">▶</button>
                                <button formaction="/songForms" formmethod="post" name="choice" value="edit" class="play-button" type="submit" name="songId" value={{id}}>•••</button>                                                                                            
                                <button formaction="/songForms" formmethod="post" name="choice" value="delete" class="play-button" class="del" type="submit" name="songId" value={{id}}>x</button>
                                <button formaction="/addSong"  formmethod="post" class="play-button" type="submit" name="songId" value={{id}} style="font-size: 12px; border-style: none; padding: 12px;">Add to Playlist</button>
                            </li>
                        {{/each}} 
                        {{/if}}                    
                    {{/if}}
                    <button formaction="/songForms" formmethod="post" name="choice" value="add" class="styled-button" style="border-radius: 5px; margin: 10px;">Upload Song</button>

                </form>

            </ul>

            </div>
            <div class="musicplayer">
                <h2 id="songNameHeader">{{playSong.name}}</h2>
                <h3>{{playSong.artist}}</h3>
                <div style="display: block; text-align: center;">
                    <img class="song-image" src={{#if playSong.iconSource}}{{playsong.iconSource}}{{else}}"images/song-image.jpg"{{/if}}>
                    <br>
                    <audio {{#if playSong}}autoplay{{/if}} controls {{#unless isPremium}}controlsList="nodownload"{{/unless}} src={{#if playSong}}"audio/{{playSong.name}}.mp3"{{/if}}>
                        <div style="border: 1px solid black ;">
                        Sorry, your browser does not support the <audio> tag used in this demo.
                        </div>
                    </audio>
                </div>

            </div>
    </div>
    
</div>
